<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mozhimen.prefabk_mqtt">

    <application>
        <service android:name=".MQTTService" />
        <service android:name="org.eclipse.paho.android.service.MqttService" />

    </application>
</manifest>